	    body {
            font-family:'맑은 고딕';
            margin:0;
			display:block;
	    }
    a, a:link, a:visited, a:hover, a:active {
     color:inherit; 
     text-decoration: none;
    }

	input {
		border-radius:0px;
		/*outline-style: none;*/
 		/*-webkit-appearance: none;*/
 		/*-moz-appearance: none;*/
		/*appearance: none;*/
	}


	img {
		height:auto;
		max-width:100%
	}

    ul,li { display:block;}

	#header{
		float: left;
		width: 100%;
		position: fixed;
		left: 0px;
		top: 0px;
		z-index: 8;
        border:0;
        border-bottom:2px;
        border-style:solid;
        border-bottom-color:#383838;
        background-color:white;
		color: rgba(40,43,52,1);
	}
	
	.logo {
		display:block;
		background:url("../img/ib18_logo_m.png");
		width:260px;
		height:50px;
		margin-right:50px;
	}
	
	#header-inner {
		width: 950px;
		height: 60px;
		margin-right: auto;
		margin-left: auto;
		margin-top: 20px;
	}
	#header-inner-logo {
		float: left;
		line-height: 60px;
	}
	#header-inner-logo-icon {
		float: left;
		height: 60px;
		width: 50px;
		font-size: 40px;
		text-align: center;
	}	
	#header-inner-logo-text {
		float: left;
		height: 60px;
		font-size: 20px;
	}

	#header-inner-logo-text span {
		font-weight: 600;
	}
	#header-inner-nav {
		float: right;
		margin-left:250px;
	}
	#header-inner-nav p {
		font-size: 12px;
		font-weight:bold;
		color: inherit;
		text-decoration: none;
		padding-left: 15px;
		display: block;
		float: left;
		margin-left: 15px;
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
		line-height: 35px;
		padding-right: 15px;
		margin-bottom: 0px;
		margin-top: 12px;
	}

	#header-inner-nav p:hover {
		color: rgba(255,255,255,1);
		background-color:#383838;
		cursor:pointer;
	}
	
	

	#m-header{
		float: left;
		height:80px;
		width: 100%;
		position: absolute;
		left: 0px;
		top: 0px;
		z-index: 8;
        border:0;
        border-bottom:2px;
        border-style:solid;
        border-bottom-color:#383838;
        background-color:white;
		color: rgba(40,43,52,1);
		text-align:center;
	}
	
	.m-logo {
		position:absolute;
		display:block;
		margin:0 auto;
		left:42%;
		margin-top:10px;
	}
	
	.m-login, .m-menu {
		position:absolute;
		display:block;
		left:90%;	
		top:25px;
	}
	
	.m-menu {
		left:5%;
	}
	
	
	.item-ka:hover{
		color:blue;
	}

	.item-ka:hover #item-ka {
		display:block;
	}
	
	#item-ka {
		position:fixed;
		top:50px;
		display:none;
		width:100px;
		height:200px;
		background-color:#383838;
		color:white;
	}
	
	
	#login, #join {
		display:block;
		margin-top:10%;
	}
	 #join {
	  margin-top:15%;	
	 }
	
	.login-grid {
		top:0px;
	}
	
	
	.login-form, .join-form{
		text-align:center;
		display:block;
		margin:30px;	
	}
	
	.login-form > a {
		font-size:12px;
	}
	
	
	.login-form > a:hover {
		font-weight:bold;
		text-decoration: underline;
	}
	
	.login-logo, .join-logo {
		margin:0 auto;
		width:168px;
		height:120px;
		background-image:url("../img/login-logo.png");
	}
	.join-logo {
	background-image:url("../img/join.png");
	}

	.join-select {
		margin-bottom:20px;
		width:300px;
		line-height:16px;
		height:60px;
		padding-left:20px;
		border: 1px solid #C1C1C1;
	}

	.login-id, .login-pw, .join-id, .join-pw, .join-pw-check, .join-add, .join-nik {		
		font-size:16px;
		display:blcok;
		margin-bottom:20px;
		width:300px;
		line-height:16px;
		height:60px;
		padding-left:20px;
 		border: 1px solid #C1C1C1;
		}

	.login-id:hover, .login-pw:hover, .join-id:hover , .join-pw:hover, .join-pw-check:hover, .join-add:hover , .join-nik:hover {
		border-style:solid;
	    border-color:#383838;
	}


	 .login-bu, .join-bu, .detail-order-bu {
		cursor:pointer;
		color:white;
		font-weight:bold;
		font-size:16px;
		display:blcok;
		margin:0 auto;
		margin-bottom:20px;
		width:150px;
		line-height:55px;
		height:60px;
		border:1px;
        border-style:solid;
		border-color:#292929;
        background-color:#292929;
		-webkit-transition-duration: 0.4s;
		transition-duration: 0.4s;
	 }
	 
	.login-bu:hover, .join-bu:hover {
		color:#292929;
		background-color:white;	 
	}
	
	.join-guide{
		font-size:12px;
		margin-bottom:30px;	
	}
	.join-guide >a {
		cursor:pointer;
		text-decoration:underline;
	}
	
	.join-guide>a:hover {
		font-weight:bold;	
	}
	#underInput, #underpassInput {
		font-size:12px;	
		margin-bottom:20px;
	}
	
	#guide-checkbox + label {
		display:inline-block;
		width:18px;
		height:18px;
		border:2px;
		border-style:solid;
		border-color:#282828;
		border-radius:20px;
		cursor:pointer;
		vertical-align: middle;
		opacity:0.2;
	}
	#guide-checkbox + label:hover {
		opacity:1;
	}
	#guide-checkbox:checked + label{
		opacity:1;
	}



    .id-view {position:relative; left:30px; color:red; top:20px;}


	content{
        position:relative;
		width:1000px;
		display:block;
		margin:0 auto;
		margin-bottom:100px;
		text-align:center;
	}
	
	#carousel-example-generic{
		padding-top:60px;
	}
	
	.main-slide1, .main-slide2, .main-slide3, .main-slide4 {
		display:block;
		background-color:#e6dcd4;
		text-align:center;
		margin:0 auto;
	}
.main-slide2 {background-color:#051110;}
.main-slide3 {background-color:#ebe9de;}
.main-slide4 {background-color:#202020;}
	
	
	.item-block {
		margin-top:20px;	
	}
	
	.item-block > h5 {
		font-weight:bold;	
	}
	
	.item-block > p {
		font-size:11px;
	}
	


    footer {
    position: relative;
    width: 100%;
    height: 100px;
	top:100px;
    background-color:white;
    font-size: 11px;
    color: #g6g6g6;
    text-align:center;
    display:table;
    border:0;
    border-top:2px;
    border-style:solid;
    border-color: #383838;
    }
    .footer-text { font-family:'���� ���'; margin-top:15px; text-align:center; }
	.footer-text > b {font-family:'���� ���';}
    .company { color:#;}
	
	
	/* ���⼭���� �������� */
	
	
	.detail-first-image {
		border:1px solid #D9D9D9;
	}
	
	.info-title{
		text-align:center;
		margin-left:10px;
		padding-bottom:10px;
		margin:0px;
		padding-top:10px;
		width:100%;
		display:block;
		font-size:18px;	
		font-weight:bold;
		border:0px;
		border-bottom:1px solid #D9D9D9;
	}
	.info-title > span { font-size:10px; }
	
	
	.info-price{
		text-align:center;
		margin-left:10px;
		padding-bottom:20px;
		margin:0px;
		padding-top:20px;
		width:100%;
		display:block;
		font-size:18px;	
		font-weight:bold;
		border:0px;
		border-bottom:1px solid #D9D9D9;
	}
	
	.info-price > span { font-size:11px; }
	
	#goods {
		font-size:12px;
		font-weight:normal;	
		margin:0 auto;
	}
	
	.order-amount, .order-bu, #amountInput {
		margin:0 auto;
		line-height:25px;
		text-align:center;
		float:left;
		display:block;
		width:30px;
		height:30px;
		border:1px solid #CCCCCC;
	}
	.order-bu { background-color:#F0F0F0;}
	.order-amount { font-size:14px; border:0px; width:50px; font-weight:bold;}
	#amountInput { font-weight:bold;}
	
	
	#priceInput { display:block; padding-bottom:10px; padding-top:10px; font-size:14px; font-weight:bold;
				border:0px;
				border-bottom:1px solid #D9D9D9;
				}
	.order-form { display:block; margin-top:10px; height:60px; padding-left:40%; padding-top:15px; padding-bottom:10px; border:1px solid #CCCCCC; }
	
	.order-go {
		cursor:pointer;
		color:white;
		font-weight:bold;
		font-size:16px;
		display:blcok;
		margin:0 auto;
		margin-top:20px;
		width:100px;
		line-height:40px;
		height:45px;
		border:1px;
        border-style:solid;
		border-color:#292929;
        background-color:#292929;
		-webkit-transition-duration: 0.4s;
		transition-duration: 0.4s;
	 }
	 
	 .goods-form > select {
		padding-left:10px;
		padding-top:5px;
		padding-bottom:5px;
		width:200px;
	 	border-radius:0px;
		border:2px solid #383838;
		outline-style: none;
 		-webkit-appearance: none;
 		-moz-appearance: none;
		appearance: none;
	 }
	
	
	.detail-cut {
		padding-top:100px;
		padding-bottom:100px;
		margin-top:100px;
		margin-bottom:100px;
		border:0px;
		border-bottom:1px solid #CCCCCC;
		border-top:2px solid #383838;
	}
	
	.detail-cut > img {
		margin-bottom:100px;		
	}
	
	.cut-info {
		font-size:12px;
		text-align:center;	
		line-height:30px;
		margin-bottom:100px;
		width:100%;
		padding-top:20px;
		padding-bottom:20px;
		border:1px solid #CCCCCC;
	}
	
	/* �ֹ� �� ������ */
	
	
	.order-detail-grid {
		padding-top:100px;
	}
	
	.order-detail-info {
		height:253px;
			
	}
	.info-goods { padding-top:30px; height: 253px; font-size:18px; border-bottom:1px solid #CCCCCC;}
	.info-goods > span { font-size:11px;}
	
	.detail-info-numprice span, .detail-info-price span {
		display:block;
		text-align:right;
		padding-top:25px;
		padding-right:30px;
		font-weight:normal;
		font-size:12px;
		}
	.detail-info-num, .detail-info-price {font-weight:bold; height: 100px; font-size:16px; border-bottom:1px solid #CCCCCC;}
	.detail-info-num { margin-top:53px; }
	.order-detail-form {margin-top:200px; padding-bottom:30px; padding-top:50px; border-bottom:2px solid #383838;}
	.order-detail-form2 {display:block; margin:0 auto; width:350px; font-size:12px; font-weight:bold;}
	.order-detail-form2 > center { font-weight:normal; }
	
	.detail-order-name, .detail-order-mobile, .detail-order-email, .detail-order-postcode, .detail-order-address, .detail-order-address2 {		
		margin-left:20px;
		font-size:16px;
		display:blcok;
		margin-top:10px;
		margin-bottom:10px;
		width:300px;
		line-height:16px;
		height:50px;
		padding-left:20px;
 		border: 1px solid #C1C1C1;
	}
	.detail-order-name {width:140px;}
	.detail-order-postcode { width:150px;}
	.detail-order-mobile { width:200px;}
	.detail-order-address, .detail-order-address2 { width:310px;}
	
	.detail-order-bu { margin-top:20px; text-align:center; }
	
	.totalprice { border-bottom:2px solid #383838;}
	
	
	/* �ֹ� �Ϸ�â */
	
	.success-order {
		display:block;
		font-size:16px;
		margin-top:100px;
		text-align:center;	
		height:700px;
	}
	
	
	/* ���̵�� */
	.m-side-back {
		position:fixed;
		display:none;
		background-color:black;
		opacity:0.5;
		width:100%;
		height:100%;
	}
	.m-sidemenu {
		position:fixed;
		left:-230px;
		width:230px;
		height:100%;
		background-color:white;
	}
	
	
	.m-side-top {
		display:block;
		background-color:#383838;
		width:230px;
		height:80px;
		border:0px;	
	}
	
	.m-cart, .m-order {
		display:block;
		position:absolute;
		left:45px;
		top:20px;
	}
	
	.m-order {left:140px;}
	
	.m-sidemenu li {
		font-weight:bold;
		padding-left:20px;
		text-align:left;
		line-height:70px;
		font-size:16px;
		display:block;
		width:230px;
		height:70px;
		border:0px;	
		border-bottom: 1px solid #D1D1D1;
	}
	
	.m-sidemenu li:hover {
		background-color:#E1E1E1;
	}
	
	
	.m-side-footer {
		position:absolute;
		display:block;
		top:95%;
		left:60px;
		font-size:10px;	
	}
	
	/* �ֹ� Ȯ�� */
	
	.order-checkbox{
		width:1000px;
	}
	
	.order-checkbox td{
		padding-top:10px;
		padding-bottom:10px;
		border:0;
		border-bottom: 1px solid #D1D1D1;	
	}
	
	.order-checkbox-main {
		background-color:#EDEDED;
		border:1px solid #D1D1D1;
		border-bottom: 2px solid #393939;
	}
	
	
	
